preview.jpg

.vscode
# starter code

starter-code/crew-engineer.html
starter-code/crew-pilot.html
starter-code/crew-specialist.html
starter-code/data.json
starter-code/destination-europa.html
starter-code/destination-mars.html
starter-code/destination-titan.html
starter-code/technology-capsule.html
starter-code/technology-spaceport.html
starter-code/technology-vehicle.html